<form [formGroup]="searchFormGroup" *ngIf="searchFormGroup">

    <header *ngIf="formTemplateData.title">
        <span>{{ formTemplateData.title }}</span>
    </header>

    <ng-container *ngFor="let inputGroup of groupedInputs">
        <ng-container *ngFor="let inputField of inputGroup.inputs">

            <ng-container [ngSwitch]="inputField.type">
                <input [formControlName]="inputField.name" *ngSwitchCase="0" type="text" pInputText />
                <textarea [formControlName]="inputField.name" *ngSwitchCase="1" pInputTextarea></textarea>
                <input *ngSwitchCase="2" type="text" pInputText />
                <p-dropdown *ngSwitchCase="3" [options]="inputField.dropdownConfig.options"
                    [formControlName]="inputField.name" [optionLabel]="inputField.optionLabel"
                    [optionValue]="inputField.optionValue">
                </p-dropdown>
            </ng-container>
        </ng-container>
    </ng-container>

    <button>Log in</button>

</form>



<!-- <div class="submit-wrapper">
            <div *ngFor="let inputGroup of groupedInputs" class="input-group">
                <ng-container *ngFor="let inputField of inputGroup.inputs">
                    <app-input-text *ngIf="isTextInput(inputField.type)" [inputData]="inputField"
                        [formGroup]="searchFormGroup">
                    </app-input-text>
                    <app-input-dropdown *ngIf="isDropdownInput(inputField.type)" [inputData]="inputField"
                        [formGroup]="searchFormGroup"></app-input-dropdown>
                    <app-input-datepicker *ngIf="isDatepickerInput(inputField.type)" [inputData]="inputField"
                        [formGroup]="searchFormGroup">
                    </app-input-datepicker>
                </ng-container>
            </div>

            <div class="button-wrapper">
                <button class="btn btn-primary" style="min-width: 100px;" (click)="onSearch()">
                    <clr-icon shape="search" size="12"></clr-icon> Search
                </button>
                <button class="btn btn-primary" type="button" (click)="onActionTriggered(action)"
                    *ngFor="let action of formData.extraActions">
                    <clr-icon [attr.shape]="action.icon"></clr-icon> {{ action.label }}
                </button>
            </div>
        </div> -->